$white: #ffffff;
$blackish: #202020;

$dark-grey: #3F3F3F;
$medium-grey: #707070;
$egg-yellow: #FFDF6C;

$color-primary: #6247AA;
$color-primary-light: #A06CD5;
$color-secondary: #102B3F;
$color-tertiary: #062726;