@import 'base/reset';
@import 'base/typography';

@import 'themes/main';

body {
  background-color: $body-color;
  color: $color-primary;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@import 'components/title';